.test {
  padding-top: 20px;
  padding-bottom: 50px;

  .test-pre-title{
    font-size: 20px;
    line-height: 24px;
    color: #DCDCF3;
  }
  /*PROGRESS BAR*/
  .test-progress-bar{
    margin-top: 60px;
    margin-bottom: 80px;
    display: flex;
    .test-progress-bar-item{
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      /*Делаем расстояния в виде линий соединяющих круги*/
      &:not(:first-child){
        margin-left: 130px;
      }
      &:not(:last-child)::before{
        content: "";
        z-index: -1; /*так как полоска должна быть под всеми кружками*/
        position: absolute;
        width: 184px;
        height: 6px;
        background: #DCDCF3;
        left: 28px;
        top: 10px;
      }
      &.complete:not(:last-child)::before{
        background: #6933DC;
      }
      .test-progress-bar-item-circle{
        width: 26px;
        height: 26px;
        background: #DCDCF3;
        border-radius: 50%;
      }

      .test-progress-bar-item-text{
        font-size: 13px;
        line-height: 16px;
        margin-top: 10px;
      }
      /*Меняем цвет круга при классе complete*/
      &.complete .test-progress-bar-item-circle,
      &.active .test-progress-bar-item-circle{
        background: #6933DC;
      }

      /*Серый маленький круг внутри активного круга*/
      &.active::after{
        content: "";
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        width: 14px;
        height: 14px;
        background: #DCDCF3;
        top: 6px;
      }
    }
  }

  .test-question-title {
    font-family: 'MuseoSansCyrlBold', sans-serif;
    font-size: 36px;
    line-height: 43px;
    span {
      color: #6933DC;
    }
  }

  .test-question-options{
    margin-top: 58px;
    min-height: 344px;
    .test-question-option{
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 20px;
      display: flex;
      label{
        cursor: pointer;
      }
    }
  }
  .test-actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .test-time{
      display: flex;
      align-items: center;
      .test-time-text{
        font-size: 17px;
        line-height: 20px;
        color: #6933DC;
        margin-right: 15px;
      }
      .test-time-clock{
        background-image: url('../../../../assets/images/timer.png');
        background-size: cover;
        background-position: center;
        width: 27px;
        height: 29px;
        font-size: 10px;
        /*Размещяем текст в центре будильника*/
        text-align: center;
        line-height: 30px;
      }
    }
  }
  .pass-question{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    a{
      font-size: 17px;
      line-height: 20px;
      color: #6933DC;
      text-decoration: none;
      display: flex;
      align-items: center;
      &:hover{
        text-decoration: underline;
      }
      img{
        padding-left: 13px;
      }
    }
  }
}

/*Оформление радиобаттонов*/
input[type="radio"]{
  /*Убираем круги радиобаттонов*/
  appearance: none;
  -webkit-appearance: none;
  /*Описываем свои стили для кругов*/
  width: 20px;
  min-width: 20px;
  height: 20px;
  border: 3px solid #6933DC;
  border-radius: 50%;
  margin: 0 13px 0 0;
  transform: translateY(2px);
  position: relative;
  /*Для того чтоб наш внутренний круг хорошо отображался внутри нашего главного круга*/
  display: grid;
  place-content: center;

  /*Делаем кружочек внутри при выбраном радиобаттоне*/
  &::before{
    content:"";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    /*Делаем кружочек с помощью тени*/
    box-shadow: inset 10px 10px #6933DC;
    transition: .2s ease transform;
    transform: scale(0);
  }
  &:checked::before{
    transform: scale(1);
  }
}




